/* p,li,input,h2,h1,a,span{ font-size: 1.2rem;} */
body{ margin: auto;
   
}
.navigation{  background-color: #9356DC;}
.violet{background-color:rgb(247, 241, 241) ;
    border: solid 1px #9356DC;
}
h1{
    border: solid 1px #9356DC;
    color:#CA6F1E;
}
.furniture {border-radius: 20px; background-color:#CA6F1E; }
main #basket{border-radius: 30px; }

#clear {display: none;}
#shop:hover{background-color:#F3F2F1;}







