.navigation {  
    background-color: #9356DC;
}
.collection {
    background-color: #f6f6f6;
    &:hover {
        background-color: #f5edff;
    }
}
.shop{
    border-radius: 10%;
}
.fa-check,.fa-truck,.fa-lock{
    color: #9356DC ; 
}
.infos{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;}

#section{
    background-color: #f6f6f6;
    border: solid 1px gray;  
}
.btn{
    color:#D68910 ;
    background: radial-gradient(#c97a58,#9356DC);
    cursor: pointer;
   
    &:hover{
        background: linear-gradient( #9356DC,#c97a58);
    }
}
#clear{
    display: none;
}
.img-thumbnail{
    transform: scale(1);
    transition: transform 400ms;
    &:hover{
        transform: scale(1.03);  
    }
}


